In [5]:
import pandas as pd
df = pd.read_csv('C:\\Users\\Aorus\\OneDrive\\Desktop\\MLOps\\MLOps_2\\MLOps\\src\\augmented_balanced_dataset.csv')
df.head()

,Unnamed: 0,Amount,Previous Transactions,Balance Before Transaction,Time of Day,Velocity,Customer Age,Customer Income,Card Limit,Credit Score,Merchant Location History,Spending Patterns,Is Fraudulent
0,1253,4020.11,22,47311.45,Night,0.89,31,191842.99,34584.71,813,New Dawnfort,Aggressive,0
1,4685,2227.99,93,44332.20,Afternoon,0.90,33,48996.84,33452.54,771,West Tammyport,Moderate,1
2,1732,2784.88,43,40925.17,Afternoon,0.94,64,67671.95,31382.05,426,New Ruthborough,Conservative,1
3,4743,2041.38,37,2448.69,Evening,0.94,26,114029.38,33859.66,542,Johnborough,Aggressive,1
4,4522,690.14,84,17652.80,Afternoon,0.52,21,126714.52,45182.44,730,Melissafurt,Moderate,1

In [6]:
df.describe()

,Unnamed: 0,Amount,Previous Transactions,Balance Before Transaction,Velocity,Customer Age,Customer Income,Card Limit,Credit Score,Is Fraudulent
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,2500.500000,2491.064031,49.684000,25258.643640,0.501976,43.445700,110140.056585,25249.293901,575.701200,0.500000
std,1443.447818,1451.092510,28.810851,14124.612146,0.288061,15.112442,52021.792723,14146.010339,156.966001,0.500025
min,1.000000,10.100000,0.000000,1002.740000,0.000000,18.000000,20031.420000,1002.720000,300.000000,0.000000
25%,1250.750000,1221.077500,25.000000,13134.930000,0.250000,30.000000,65168.657500,12931.467500,440.000000,0.000000
50%,2500.500000,2494.350000,50.000000,25191.690000,0.500000,44.000000,111067.210000,25175.465000,576.000000,0.500000
75%,3750.250000,3752.470000,74.000000,37354.530000,0.750000,57.000000,155487.760000,37347.580000,710.000000,1.000000
max,5000.000000,4999.010000,99.000000,49999.720000,1.000000,69.000000,199981.670000,49995.120000,849.000000,1.000000

In [10]:
df.groupby(['Card Type'])['Is Fraudulent'].mean()
Mean_encoded = df.groupby(['Card Type'])['Is Fraudulent'].mean().to_dict()
df['Card Type'] = df['Card Type'].map(Mean_encoded)
Mean_encoded = df.groupby(['MCC Category'])['Is Fraudulent'].mean().to_dict()
df['MCC Category'] = df['MCC Category'].map(Mean_encoded)
Mean_encoded = df.groupby(['Device'])['Is Fraudulent'].mean().to_dict()
df['Device'] = df['Device'].map(Mean_encoded)
Mean_encoded = df.groupby(['Location'])['Is Fraudulent'].mean().to_dict()
df['Location'] = df['Location'].map(Mean_encoded)
Mean_encoded = df.groupby(['Merchant Reputation'])['Is Fraudulent'].mean().to_dict()
df['Merchant Reputation'] = df['Merchant Reputation'].map(Mean_encoded)
Mean_encoded = df.groupby(['Online Transactions Frequency'])['Is Fraudulent'].mean().to_dict()
df['Online Transactions Frequency'] = df['Online Transactions Frequency'].map(Mean_encoded)
df.drop('Date', axis=1, inplace=True)

In [11]:
from sklearn.preprocessing import MinMaxScaler
# create a MinMaxScaler object
scaler = MinMaxScaler()

# fit and transform the data
normalized_data = scaler.fit_transform(df.drop('Is Fraudulent', axis=1))

In [12]:
from pandas import DataFrame
# convert the array back to a dataframe
df_norm = DataFrame(normalized_data)
df_norm.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0.000000,0.172848,0.365408,0.574790,0.253927,1.000000,0.666667,0.080751,0.434783,0.161963,0.542373,0.658346,0.101629,0.183971,1.000000,0.277778,0.073048,0.42073
1,0.001001,0.795115,0.000000,0.595918,0.710239,1.000000,0.555556,0.345750,0.739130,0.515093,0.711864,0.559021,0.635362,0.198543,1.000000,0.666667,0.864296,0.00000
2,0.002002,0.819235,0.000000,0.574790,0.253927,0.000000,0.555556,0.655214,0.173913,0.301484,0.372881,0.543057,0.077742,0.041894,0.703111,0.000000,0.051788,1.00000
3,0.003003,0.527106,1.000000,0.423072,0.602119,0.177005,0.333333,0.803195,0.869565,0.423221,0.949153,0.336585,0.259207,0.681239,0.000000,0.000000,0.037722,1.00000
4,0.004004,0.647560,0.365408,0.574790,0.710239,1.000000,0.444444,0.529753,0.695652,0.470892,0.322034,0.081166,0.329976,0.424408,0.703111,0.111111,0.011140,0.00000

In [13]:
column_names = list(df.columns)
column_names.pop()
df_norm.columns = column_names
df_norm.describe()

,Unnamed: 0,Amount,Card Type,MCC Category,Location,Device,Previous Transactions,Balance Before Transaction,Time of Day,Velocity,Customer Age,Customer Income,Card Limit,Credit Score,Merchant Reputation,Merchant Location History,Spending Patterns,Online Transactions Frequency
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.500000,0.516836,0.473219,0.482057,0.520133,0.400120,0.488778,0.492473,0.496739,0.500290,0.498847,0.484388,0.511379,0.501836,0.554105,0.486333,0.499827,0.462310
std,0.289109,0.283242,0.416132,0.283023,0.344237,0.437676,0.314305,0.288382,0.297161,0.296255,0.293777,0.285195,0.294787,0.284987,0.424061,0.299735,0.291817,0.406386
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.250000,0.271256,0.000000,0.309581,0.253927,0.000000,0.222222,0.234630,0.217391,0.243226,0.254237,0.243744,0.244742,0.257741,0.000000,0.222222,0.236107,0.000000
50%,0.500000,0.543847,0.365408,0.440014,0.602119,0.177005,0.444444,0.474111,0.478261,0.488548,0.508475,0.474607,0.516272,0.500000,0.703111,0.500000,0.520421,0.420730
75%,0.750000,0.760082,1.000000,0.595918,0.710239,1.000000,0.777778,0.737029,0.739130,0.777114,0.745763,0.719089,0.768473,0.756831,1.000000,0.722222,0.747681,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
import pandas as pd
import numpy as np
from faker import Faker

# Initialize Faker for generating realistic text data
fake = Faker()

# Number of additional rows to generate
additional_rows = 5_000

# Parameters for balancing
fraud_ratio = 0.5  # Desired ratio for fraudulent cases
fraudulent_rows = int(additional_rows * fraud_ratio)
non_fraudulent_rows = additional_rows - fraudulent_rows

# Generate synthetic data
def generate_transaction_data(n_rows, is_fraudulent):
    data = {
        "Unnamed: 0": np.arange(1, n_rows + 1),  # Unique IDs
        "Amount": np.random.uniform(10, 5000, size=n_rows).round(2),  # Random transaction amounts
        "Previous Transactions": np.random.randint(0, 100, size=n_rows),  # Number of previous transactions
        "Balance Before Transaction": np.random.uniform(1000, 50000, size=n_rows).round(2),  # Account balance
        "Time of Day": np.random.choice(["Morning", "Afternoon", "Evening", "Night"], size=n_rows),  # Random time
        "Velocity": np.random.uniform(0, 1, size=n_rows).round(2),  # Velocity score
        "Customer Age": np.random.randint(18, 70, size=n_rows),  # Random ages
        "Customer Income": np.random.uniform(20000, 200000, size=n_rows).round(2),  # Customer income
        "Card Limit": np.random.uniform(1000, 50000, size=n_rows).round(2),  # Credit card limit
        "Credit Score": np.random.randint(300, 850, size=n_rows),  # Credit score
        "Merchant Location History": [fake.city() for _ in range(n_rows)],  # Merchant city
        "Spending Patterns": np.random.choice(["Conservative", "Moderate", "Aggressive"], size=n_rows),  # Patterns
        "Is Fraudulent": [is_fraudulent] * n_rows,  # Fraudulent flag
    }
    return pd.DataFrame(data)

# Generate fraudulent and non-fraudulent datasets
fraudulent_data = generate_transaction_data(fraudulent_rows, 1)  # Fraudulent transactions
non_fraudulent_data = generate_transaction_data(non_fraudulent_rows, 0)  # Non-fraudulent transactions

# Combine the two datasets
balanced_data = pd.concat([fraudulent_data, non_fraudulent_data]).reset_index(drop=True)

# Shuffle the data
balanced_data = balanced_data.sample(frac=1, random_state=42).reset_index(drop=True)

# Save to a CSV file
output_file = "C:\\Users\\Aorus\\OneDrive\\Desktop\\MLOps\\MLOps_2\\MLOps\\data\\balanced_dataset.csv"
balanced_data.to_csv(output_file, index=False)

print(f"Balanced dataset with {additional_rows} rows saved to '{output_file}'")

Balanced dataset with 5000 rows saved to 'C:\Users\Aorus\OneDrive\Desktop\MLOps\MLOps_2\MLOps\data\balanced_dataset.csv'

In [15]:
df_norm.to_csv('C:\\Users\\Aorus\\OneDrive\\Desktop\\MLOps\\MLOps_2\\MLOps\\data\\datapreprocessed.csv',index=False)